Repository r593988344/template-react-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config .prettierrc.js --write, eslint --fix, stylelint --syntax less

fix: husky
  .husky/commit-msg
  .lintstagedrc.json
  .stylelintrc
  commitlint.config.js
  package-lock.json
  package.json
  src/pages/index.tsx
Due: prettier --config .prettierrc.js --write, eslint --fix

fix: test
  package.json
  yarn.lock
Due: none

fix: fix es-lint
  .eslintrc.js
  .prettierrc.js
  .vscode/settings.json
  commitlint.config.js
  craco.config.js
  package.json
  src/App.tsx
  src/hooks/useQuery.ts
  src/index.css
  src/index.tsx
  src/layout/BasicLayout.tsx
  src/pages/home/index.tsx
  src/reportWebVitals.ts
  src/routes/router.ts
  tsconfig.json
  tsconfig.paths.json
  yarn.lock
Due: prettier --config .prettierrc.js --write, eslint --fix

fix: config
  .prettierrc.js
  craco.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/pages/home/index.tsx
  yarn.lock
Due: prettier --config .prettierrc.js --write, eslint --fix

feat: add redux config
  .eslintrc.js
  craco.config.js
  package-lock.json
  package.json
  src/App.tsx
  src/hooks/useRefState.ts
  src/index.tsx
  src/layout/BasicLayout.tsx
  src/pages/home/index.tsx
  src/pages/login/index.tsx
  src/pages/login/service/login.service.ts
  src/pages/login/slice/login.slice.ts
  src/pages/notFound/index.tsx
  src/routes/router.ts
  src/store/index.ts
  src/utils/axios.ts
  tsconfig.paths.json
  yarn.lock
Due: prettier --config .prettierrc.js --write, eslint --fix

feat: add css config
  package.json
  src/App.less
  src/App.tsx
  src/index.css
  src/index.tsx
  src/routes/router.ts
  yarn.lock
Due: prettier --config .prettierrc.js --write, eslint --fix, stylelint --syntax less

feat: 页面布局
  src/App.less
  src/App.tsx
  src/components/TopBreadcrumb/index.tsx
  src/index.css
  src/layout/BasicLayout.tsx
  src/layout/index.module.less
  src/layout/layout.slice.ts
  src/pages/detail/index.tsx
  src/pages/home/index.tsx
  src/routes/router.ts
  src/store/index.ts
  src/types/typed-css.d.ts
Due: prettier --config .prettierrc.js --write, eslint --fix, stylelint --syntax less

Path conditions:
  prettier --config .prettierrc.js --write: any of: *.{js,css,less,md,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --syntax less: any of: src/**/*.less
